/*- DISABLE PAGE EDITING -*/

.ic-app-course-menu .collaborations{
    display: none;
}
.ic-app-course-menu .conferences{
    display: none;
}
.group-nav .ic-app-course-menu .collaborations{
    display: block;
}

.group-nav .ic-app-course-menu .conferences{
    display: block;
}