
.slick-carousel-item {
    margin: 25px;
}
.slick-arrow::before {
    color: gray;
}


.editor-request {
    background: #fdd;
    border: 1px solid #f00;
    position: relative;
}
.editor-request:hover{

    border-top:16px #f00 solid;

}
.editor-request:hover:before{
    content: "Request";
    position:absolute;
    font-size: 8pt;
    top:-18px;
}


[for="publish_final_grade"], #publish_final_grade {
    pointer-events: none;
    color: grey;
}